.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $size-md;

    @media (min-width: $desktop-min-width-plus) {
        flex-direction: row;
        margin-bottom: $size-lg;
    }
}

.input-group__item {
    margin-bottom: $size-sm;
    
    // input, select {
    //     padding: $size-sm;
    // }
    
    // DateRangePicker {
    //     background: none;
    // }
    
    @media (min-width: $desktop-min-width-plus) {
        margin: 0 $size-sm 0 0;
    }
}
